{% extends 'base.html' %}

{% load static %}

{% block title %} Contact | {% endblock %}

{% load crispy_forms_tags %}

{% block content%}
<div class="container-fluid">
    <img class="mx-auto d-block" src="{% static 'image/banner.png' %}">
        {% include 'partials/_section.html' %}
        {% include 'partials/_sidebar.html' %}
</div>

{% csrf_token %}
<form method="post">
    <div class="d-flex justify-content-center m-1 p-1">
        <div class="row">
            <div style="text-align:center;">
                <b>Questions, Comments And Suggestions...</b>
            </div>
            <div class="form-row">
                {% csrf_token %}
                {{form.name|as_crispy_field}}
                {{form.email|as_crispy_field}}
                {{form.content|as_crispy_field}}
                <hr>
                <button type="submit" class="btn btn-outline-dark">Send Message</button>
            </div>
        </div>
    </div>
</form>


{% endblock %}