{% extends "allauth/layouts/entrance.html" %}

{% load i18n %}

{% load allauth %}

{% block head_title %}
    {% translate "Account Inactive" %}
{% endblock head_title %}

{% block content %}

<div class="container-fluid" style="width:36rem;" >
    <div class="text-center">
    {% element h1 %}
        {% translate "Account Inactive" %}
    {% endelement %}
    </div>
    
    <div class="text-center">
    {% element p %}
        {% translate "This account is inactive." %}
    {% endelement %}
    </div>
</div>

{% endblock content %}
