{% load static %}

{% for blog in blogs %}

<div class="card p-1 m-1" style="max-width: 1280px;">
  <div class="row">
      <div class="col-3">
        <img src={{ blog.image.url }} class="img-fluid m-1 p-1 border bordered-secondary" alt="...">
      </div>
        <div class="col-8 m-1 p-1">
          <div class="card-header">
            <h3 class="card-title text-center">{{ blog.title|title }}</h3>
          </div>
            <p class="card-body">{{ blog.description|striptags|slice:"0:200" }} ...</p>
              <div class="card-footer card-footer text-muted">
                <a href="{% url 'blog_detail' blog.slug %}" target="_blank" class="btn btn-outline-dark">read more and comment</a>
              </div>
        </div>
  </div>
</div>

{% endfor %}