{% load static %}

  <div class="container-fluid bg-dark text-light">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <h4 class="about_text"></h4>
      </div>
      <div class="col-lg-6 col-sm-9">
        <h4 class="about_text text-center">Beatpoorness</h4>
        <p class="dolor_text text-center ">2023</p>
      </div>
      <h5 class="about_text">Social Media</h5>
        <div class="col-lg-3 col-sm-6">
          <div class="footer_social_icon">
            <ul>
              <li class="icon">Twitter  <a href="https://twitter.com/BeatPoorness" target="_blank"><img src="{% static 'image/twitter.png' %}"> @beatpoorness</a></li>
              <li class="icon">Youtube  <a href="https://www.youtube.com/@BeatPoorness" target="_blank"><img src="{% static 'image/youtube.png' %}"> @beatpoorness</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer_social_icon">
            <ul>
              <li class="icon">Instagram  <a href="https://www.instagram.com/beatpoorness/" target="_blank"><img src="{% static 'image/instagram.png' %}"> @beatpoorness</a></li>
              <li class="icon">TikTok  <a href="https://www.tiktok.com/@beatpoorness" target="_blank"><img src="{% static 'image/tiktok.png' %}"> @beatpoorness</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
