{% load static %}

<div class="col-md-12" style="margin-top: 20;">
        <div class="banner_main">
            <h1 class="text-center">Welcome to beatpoorness</h1>
            <p class="banner_text text-center">The ultimate resource for financial education and empowerment!
                                      Our mission is to help you achieve your financial goals, no matter how big or small,
                                      by providing you with the knowledge, tools, and support you need to take control of your
                                      money and your life.</p>
                                      <p class="text-center">"BeatPoorness is an educational website that provides information and resources related to financial literacy. 
                                      The content on this website is for informational purposes only and does not constitute financial, investment, or 
                                      legal advice. While we strive to provide accurate and up-to-date information, we make no representations or warranties
                                      of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect
                                      to the website or the information, products, services, or related graphics contained on the website for any. 
                                      <b>There is no investment advice on this site."</b></p>                       
    </div>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h2 class="text-center">At beatpoorness,</h2>
      <p class="text-center">You'll find a wealth of resources, including articles, videos, podcasts, and interactive
                              tools that will help you learn about everything from basic budgeting to advanced investing 
                              strategies. We'll teach you how to manage your debt, build your credit, save for retirement,
                              and much more. </p>
    </div>
    <div class="col-md-2">
      <div></div>
    </div>
</div>
</div>