{% extends 'base.html' %}

{% load static %}

{% block title %}Home | {% endblock %}

{% block content %}

<div class="container-fluid" >
    <img class="mx-auto d-block" src="{% static 'image/banner.png' %}">
        {% include 'partials/_section.html' %}
        {% include 'partials/_sidebar.html' %}
            <div class="row justify-content-center">
                <div class="col-1 col-sm-1 p-1 m-1 mx-auto" >
                </div>
                <div class="col-11 col-sm-11 p-1 m-1 mx-auto" >
                    {% include 'blog/partials/_blog.html' %}
                </div>
            </div>
</div>

{% endblock %}